<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Project Animated Octofiesta</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/libs.css">
        <link rel="stylesheet" href="css/style.css">
        
    </head>

    <body>
        <!-- Navigation -->
        <div class="top-bar">
            <div class="top-bar-left">
                <ul class="dropdown menu" data-dropdown-menu>
                    <li class="menu-text">Animated Octo fiesta</li>
                </ul>
            </div>
            <div class="top-bar-right">
                <ul class="menu">

                </ul>
            </div>
        </div>

        <h1>Animated Octo fiesta</h1>


        <div id="app">        
            <template v-if="isLearning!=true">    
                <div class="row">
                    <p>Open a file with words in it, or start adding some words and translations.</p>
                    <p>Files (txt) are supposed to contain a word, and its translation separated by 2 spaces. For now, at least.</p>
                </div>
                <div class="row">
                    <input type="file" id="inp-wordList" class="" v-on:change="loadFile" />
                    <p>{{ file }}</p>

                    <div class="medium-4 columns">
                        <input id="txt-newWord" type="text" placeholder="Write a word here">
                    </div>
                    <div class="medium-4 columns">
                        <input id="txt-newTranslation" type="text" placeholder="Write a translation">                
                    </div>
                    <div class="medium-4 columns">
                        <button id="btn-addWord" @click="addWordFromInput()" class="small button success">Add word</button>
                        <button id="btn-addWord" onclick="document.getElementById('inp-wordList').click()" class="small button default">Open File</button>
                    </div>
                    
                </div>
            </template>

            <template v-if="words.length > 0 && isLearning!=true">

                <div class="row">
                    <div class="medium-6 columns">
                        <button id="btn-Learn" @click="learn('word')" class="button btn-fullWidth">Start practicing: Word is given</button>
                    </div>            
                    <div class="medium-6 columns">
                        <button id="btn-Learn" @click="learn('translation')" class="button btn-fullWidth">Start practicing: Translation is given</button>
                    </div>            
                </div>
                
                <div class="row" id="tbl-vuewordlist">
                    <table>
                        <thead>
                            <tr>
                                <th width="200">Word</th>
                                <th width="200">Translation</th>
                                <th width="100">Options</th>                        
                            </tr>

                        </thead>
                        <tbody>
                            <tr v-for="word in words" :key="word.id">
                                <td>{{ word.Word }}</td>
                                <td>{{ word.Translations[0].Word }}</td>
                                <td><button @click="removeWord(word.id)" class="small button alert btn-deleteWord">Delete</button></td>                                
                            </tr>
                            
                        </tbody>
                    </table>            
                </div>

                <div class="row">
                    <div class="medium-12 columns">
                        <button id="btn-removeAllWords" @click="removeAllWords()" class="button alert btn-fullWidth">Remove all words</button>
                    </div>            
                </div>

            </template>

            <div class="row form-learning" v-else-if="isLearning">
                <h3 v-if="learning.type == 'word' ">{{ learning.remainingWords[0].Word }}</h3>
                <h3 v-if="learning.type == 'translation' ">{{ learning.remainingWords[0].Translations[0].Word }}</h3>
                <input id="txt-typedWord" type="text" placeholder="Write the translation here" v-on:keyup.enter="evaluateAnswer()">
                <div class="medium-6 columns">
                    <button class="button alert" @click="stopLearn()">Quit Learning</button>                    
                </div>
                <div class="medium-6 columns">
                    <button class="button" @click="evaluateAnswer()">Submit answer</button>
                </div>
                <h3 class="lbl-correct-answer" v-if="learning.correctWord">Correct Answer!</h3>
                <h3 class="lbl-wrong-answer" v-else-if="learning.correctWord == false && learning.type == 'word' ">{{ learning.remainingWords[0].Translations[0].Word }}</h3>
                <h3 class="lbl-wrong-answer" v-else-if="learning.correctWord == false && learning.type == 'translation' ">{{ learning.remainingWords[0].Word }}</h3>
            </div>


        </div>
        
        <script src="js/libs.js"></script>

        <script src="js/app.js"></script>
    </body>

</html>
